/* Formatting for the overall web page */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Formatting for the header */
header {
  background-image: url("../images/header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  color: #ffffff;
  padding: 10px 0px 10px 20px;
}

/* Formatting for the main content */
main {
  padding: 10px;
  flex: 1 0 auto;
}

#sideNavigation {
  font-size: 30px;
}

#addButton {
  bottom: 14px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  writing-mode: vertical-lr;
  padding: 10px;
}

/* Formatting for the footer */
footer {
  padding: 10px;
  background-color: #BE2A59;
  color: #ffffff;
}


/* Formatting for changes in screen size */
@media only screen and (max-width: 575px) {

}
